:root {
  --primary-100: #FF0000;
  --primary-200: #ff5a36;
  --primary-300: #ffc993;
  --accent-100: #990000;
  --accent-200: #ffa783;
  --text-100: #FFFFFF;
  --text-200: #e0e0e0;
  --bg-100: #000000;
  --bg-200: #161616;
  --bg-300: #2c2c2c;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root {
  color: var(--text-100) !important;

}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  color: var(--text-100) !important;
}

.css-1sjooze-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: var(--text-100) !important;
}

.css-1sjooze-MuiInputBase-root-MuiOutlinedInput-root:not(.Mui-focused) .MuiOutlinedInput-notchedOutline {
  border-color: white !important;
}
.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  color: var(--text-100) !important;
}

